<nav class="navbar navbar-expand-lg navbar-dark" fixed-top id="topnav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="../../twingter.jpg" class="img-thumbnail rounded-circle" width="35"> Twingter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post">Post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/profile/<%= user.id %>"> <%= user.nama %> </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><form method="POST" action="logout?_method=DELETE">
                <button class="dropdown-item" method="submit" action="logout?_method=DELETE">Log Out</button>
              </form></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" method="GET" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search Account..." aria-label="Search Account. ." id="nama" name="nama">
          <button class="btn btn-outline-warning" type="submit" id="search-btn">Search</button>
        </form>
      </div>
    </div>
  </nav>