<%- include('layouts/header') %>
<%- include('layouts/nav_logout') %> 

<div class="container">
    <div class="row">
      <div class="col text-center">
        <img src="../twingter.jpg" alt="twingter" class="img-thumbnail" width="200">
        <h1 class="display-4"></h1>
        <h3>Aplikasi yang menyediakan hanya</h3> <h3>berita sentolop</h3>
        
        <br><br>
        <a href="/login" class="btn btn-primary">Log In</a>
        <a href="/signup" class="btn btn-warning">Sign Up</a>
      </div>
    </div>
  </div>

<%- include('layouts/footer') %> 